<h1 class="border-bottom border-danger">通知(<%= @notifications.where(checked: false).count %>件)</h1>

<% @notifications.each do |notification| %>
  <% if notification.checked == false %>
  <div class="card p-1 mb-3">
    <div class="row">
      <div class="col-12">
    	  <%= link_to user_path(notification.visiter) do %>
    	  	<%= attachment_image_tag notification.visiter, :profile_image, fallback: "no_image.png", size: "35x35" %><%= notification.visiter.name %>さん
    	  <% end %>
    	  があなたにコメントしました。　<%= time_ago_in_words(notification.created_at) %>前
    	</div>
    	<div class="col-9 mt-2">
    	  <%= link_to post_path(notification.post_id) do %>
    	    <p class="moderate-font" style="color: #C0C0C0;"><%= PostComment.find_by(id: notification.post_comment_id).comment %></p>
    	  <% end %>
    	</div>
    	<div class="col-3 mt-2">
    	  <p><%= link_to "既読にする", notification_path(notification), method: :patch %></p>
    	</div>
    </div>
  </div>
  <% end %>
<% end %>

