<div class="general-visual">
  <div class="container">
    <p id="notice"><%= flash[:notice] %></p>
    <div class="row">
      <div class="col-9 mt-5">
        <div class="d-flex">
          <div class="col-4">
            <h1 class="border-bottom border-danger">ユーザー情報</h1>
            <%= attachment_image_tag @user, :profile_image, class:"rounded-lg mt-3 position-relative", fallback: "no_image.png", size: "200x250" %>
            <% if unchecked_notifications.any? %>
              <% if @user.be_identical?(current_user) %>
                <%= link_to notifications_path, remote: true do %>
                  <i class="fa fa-bell fa-2x position-absolute top-0 end-0 translate-middle" style="color: red;" size: "200x200"><br><span style="font-size:18px;">click!</span></i>
                <% end %>
              <% end %>
            <% end %>
            <h5 class="mt-3 mb-4">名前：<%= @user.name %></h5>
            <h5 style="color:hsl(180, 70%, 45%);">住んだことのある県：</h5>
            <% if @user.find_prefectures_livepast.exists? %>
              <% @user.find_prefectures_livepast.each do |pref_live_past| %>
                <%= link_to pref_live_past.prefecture_name, posts_path(prefecture_id: pref_live_past.prefecture_id), class: "link pref" %>
              <% end %>
            <% else %>
              <span>未入力</span>
            <% end %>
            <br>
            <br>
            <h5 style="color:hsl(0, 70%, 45%);">住んでみたい県：</h5>
            <% if @user.find_prefectures_livefuture.exists? %>
              <% @user.find_prefectures_livefuture.each do |pref_live_future| %>
                <%= link_to pref_live_future.prefecture_name, posts_path(prefecture_id: pref_live_future.prefecture_id), class: "link pref" %>
              <% end %>
            <% else %>
              <span>未入力</span>
            <% end %>
            <h5 class="mt-4">自己紹介</h5>
            <% if @user.introduction.present? %>
              <p><%= safe_join(@user.introduction.split("\n"),tag(:br)) %></p>
            <% else %>
              <p>まだ未入力です。</p>
            <% end %>
            <% if @user.be_identical?(current_user) %>
              <%= link_to "編集する", edit_user_path(@user), class: "btn btn-primary btn-text w-100 mt-4 rounded-pill" %>
            <% end %>
          </div>
          <div class="col-7" id="notification_area">
            <p class="mt-4 mypage" style="font-size:19px;"><%= @user.name %>さんの<span style="color:hsl(180, 70%, 45%);">住んだことのある県</span>と<span style="color:hsl(0, 70%, 45%);">住んでみたい県</span></p>
            <div id="japan-map" class="my-5"></div>
          </div>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <h3 class="mt-5 border-bottom">質問(<%= @posts.count %>件)</h3>
          <div class="btn-group btn-group-toggle mt-5">
            <%= render partial: 'posts/btn_group', locals: { obj: params[:option], url: request.path } %>
          </div>
        </div>
        <% if @posts %>
          <div class="row row-cols-3">
            <%= render partial: "posts/post", collection: @posts, as: "post" %>
          </div>
        <% else %>
          <p>まだ質問はありません</p>
        <% end %>
        <div class="mt-5">
          <%= paginate @posts %>
        </div>
      </div>
      <div class="col-3 mt-5">
        <%= render partial: "users/sidebar" %>
      </div>
    </div>
  </div>
</div>

<script>

  var temp_array_live_past = [];
  var temp_array_live_future = [];
  var prefecture_data = [];

  <% @user.find_prefectures_livepast.each_with_index do |pref_live_past, x| %>
    temp_array_live_past[<%= x %>] = <%= pref_live_past.prefecture_id %>;
  <% end %>

  <% @user.find_prefectures_livefuture.each_with_index do |pref_live_future, x| %>
    temp_array_live_future[<%= x %>] = <%= pref_live_future.prefecture_id %>;
  <% end %>

  for (let i=0;i<=46;i++) {
    if (temp_array_live_past.includes(i)) {
      prefecture_data[i] = 0;
      continue;
    } else if (temp_array_live_future.includes(i)) {
      prefecture_data[i] = 1;
      continue;
    } else {
      prefecture_data[i] = 0.5;
    }
  }

  // ヒートマップで表現する数値データを定義している部分
  function defineData(){
    const data = {
      "prefectures" : prefecture_data
    }
    return data
  }

  // 表示する色を作っている部分
  function prefecturesConvertRGB(prefecture){
    function heatMapColorforValue(value){
      var h = (1.0 - value) * 180
      return "hsl(" + h + ", 70%, 60%)";
    }
    return heatMapColorforValue(prefecture)
  }

  // {"code": ... , "color": ...}のjsonオブジェクトの配列を作成している部分
  function defineAreas(data){
    let areas = []
    const prefectures = data.prefectures
    for (let i=1;i<=47;i++) {
      areas.push(
        {
          "code": i,
          "color": prefecturesConvertRGB(prefectures[i-1])
        }
      )
    }
    return areas
  }

  // ヒートマップを表示する部分
  function main(){
    const data = defineData()
    const areas = defineAreas(data)

    const d = new jpmap.japanMap(document.getElementById("japan-map"), {
      width: 500,
      selection: "prefecture",
      areas: areas,
      borderLineWidth : 0.25,
      lineColor : "#a0a0a0",
      lineWidth: 1,
      drawsBoxLine: false,
      showsPrefectureName: false,
      movesIslands : true,
      onSelect : function(data){
          alert(data.name);
      }
    });
  }

  main()
</script>
