<div class="container">
  <p id="notice"><%= flash[:notice] %></p>

  <div class="row">

    <div class="col-9 mt-5">

      <h1 class="border-bottom border-danger">ユーザー情報</h1>

      <%= attachment_image_tag @user, :profile_image, class:"rounded-lg mt-4", fallback: "no_image.png", size: "200x200" %>

      <p class="mt-2">名前：<%= @user.name %></p>
      <% if @user.prefecture2 %>
        <p>住んでいる（いた）県：<%= @user.prefecture2.name %></p>
      <% else %>
        <p>住んでいる（いた）県：未入力</p>
      <% end %>
      <% if @user.prefecture1 %>
        <p>住んでみたい県：<%= @user.prefecture1.name %></p>
      <% else %>
        <p>住んでみたい県：未入力</p>
      <% end %>
      <%= link_to "ユーザー情報を編集する", edit_user_path(@user), class: "btn btn-primary w-25 rounded-pill" %>