<div class="general-visual">
  <div class="container">
    <div class="row">
      <div class="col-9 mt-5">
        <div class="d-flex justify-content-between">
          <h1 class="border-bottom">全ての質問(<%= @posts.count %>件)</h1>
          <div class="btn-group btn-group-toggle">
            <%= render partial: 'btn_group', locals: { obj: params[:option].to_i, url: request.path } %>
          </div>
        </div>
        <div class="row row-cols-3">
          <%= render partial: "posts/post", collection: @posts, as: "post" %>
        </div>
        <div class="mt-5">
          <%= paginate @posts %>
        </div>
      </div>
      <div class="col-3 mt-5">
        <%= render partial: "users/sidebar" %>
      </div>
    </div>
  </div>
</div>
