<div class="general-visual">
  <div class="container">
    <div class="row">
      <div class="col-9 mt-5">
        <%= render "posts/errors", obj:@post %>
        <%= render partial: "posts/post_form", locals: { post:@post } %>
      </div>
      <div class="col-3 mt-5">
        <%= render partial: "users/sidebar", locals: {user:@user} %>
      </div>
    </div>
  </div>
</div>

<script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[evaluation]',
    half: true,
  });
</script>
