<div class="general-visual">
  <div class="container">
    <div class="row">
      <div class="col-9 mt-5">
        <h1 class="border-bottom border-danger"><%= @prefecture.name %></h1>
        <div class="d-flex">
          <div class="col-6">
            <h5 class="mt-3 mb-3">住んだことのある人 (<%= @residents.count %>人)</h5>
            <% if @residents.exists? %>
              <div class="d-flex flex-wrap">
                <%= render partial: "users/user_index", collection: @residents, as: "people" %>
              </div>
            <% else %>
              <p>まだいません</p>
            <% end %>
          </div>
          <div class="col-6">
            <h5 class="mt-3 mb-3">住んでみたい人 (<%= @wannalivings.count %>人)</h5>
            <% if @wannalivings.exists? %>
              <div class="d-flex flex-wrap">
                <%= render partial: "users/user_index", collection: @wannalivings, as: "people" %>
              </div>
            <% else %>
              <p>まだいません</p>
            <% end %>
          </div>
        </div>

        <div class="d-flex justify-content-between mb-2">
          <h3 class="mt-4 border-bottom border-success">質問(<%= @posts.count %>件)</h3>
          <div class="btn-group btn-group-toggle mt-4">
            <%= render partial: 'btn_group', locals: { obj: params[:option].to_i, url: request.path } %>
          </div>
        </div>
        <% if !@posts.blank? %>
        <!--いいね順並び替え時のKaminariのせいで@postsが配列になりexists?が使えなくなったためblank?に変更-->
          <div class="row row-cols-3">
            <%= render partial: "posts/post", collection: @posts, as: "post" %>
          </div>
        <% else %>
          <p>まだ投稿はありません</p>
        <% end %>
        <div class="mt-5">
          <%= paginate @posts %>
        </div>
      </div>

      <div class="col-3 mt-5">
        <%= render partial: "users/sidebar" %>
      </div>

    </div>
  </div>
</div>