<div class="general-visual">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1 class="border-bottom my-3">お問い合わせ</h1>

        <%= form_with model:@inquiry, local: true, url: inquiry_confirm_path do |f| %>

          <% if @inquiry.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <h5><strong>入力内容にエラーがあります。</strong></h5>
              <ul>
                <% @inquiry.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :name, '名前' %>
            <span class="text-danger">（必須）</span>
            <%= f.text_field :name, id: 'name', class: 'form-control', :placeholder => '名前' %>
          </div>

          <div class="form-group">
            <%= f.label :email, 'メールアドレス' %>
            <span class="text-danger">（必須）</span>
            <%= f.text_field :email, id: 'email', class: 'form-control', :placeholder => 'メールアドレス' %>
          </div>

          <div class="form-group">
            <%= f.label :message, 'お問い合わせ内容' %>
            <span class="text-danger">（必須）</span>
            <%= f.text_area :message, id: 'message', class: 'form-control', :placeholder => 'お問い合わせ内容', :rows => '5' %>
          </div>

          <div class="actions">
            <%= f.submit "確認", class: "btn btn-info btn-text mb-5" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
