<div class="general-visual">
  <div class="container">
    <div class="row">
      <div class="col-9 mt-5">
        <h3 class="border-bottom border-success">
          検索結果：
          <%= link_to posts_path(prefecture_id: @prefecture_id) do %>
            <span class="link"><%= Prefecture.find(@prefecture_id).name %><%= @content %></span>
          <% end %>
        </h3>
        <% if @records.exists? %>
          <div class="row row-cols-3">
            <%= render partial: "posts/post", collection: @records, as: "post" %>
          </div>
        <% else %>
          <p>該当する質問はありません</p>
        <% end %>
      </div>
      <div class="col-3 mt-5">
        <%= render partial: "users/sidebar" %>
      </div>
    </div>
  </div>
</div>